.primary {
  color: #ffffff;
  background: rgb(7, 150, 211);
  background: linear-gradient(
    90deg,
    rgba(7, 150, 211, 1) 35%,
    rgba(83, 192, 240, 1) 100%
  );
}

.secondary {
  color: #000;
  background: rgba(231, 238, 251, 1);
}

.danger {
  color: #ffffff;
  background: rgba(211, 7, 7, 1);
  background: linear-gradient(
    90deg,
    rgba(211, 7, 7, 1) 35%,
    rgba(240, 83, 83, 1) 100%
  );
}
